name: Terraform Infra Deploy

on:
  push:
    branches:
      - main
    paths:
      - "azure-enterprise-terraform/**"

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Azure CLI Login
      run: |
        az login --service-principal -u ${{ secrets.ARM_CLIENT_ID }} -p ${{ secrets.ARM_CLIENT_SECRET }} --tenant ${{ secrets.ARM_TENANT_ID }}

    - name: Terraform Init
      working-directory: ./azure-enterprise-terraform/terraform/stacks/dev/platform
      run: terraform init -upgrade

    - name: Terraform Plan
      working-directory: ./azure-enterprise-terraform/terraform/stacks/dev/platform
      run: terraform plan

    - name: Terraform Apply
      working-directory: ./azure-enterprise-terraform/terraform/stacks/dev/platform
      run: terraform apply -auto-approve